body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: none;
  color: #262626;
  border: 5px solid #262626;
  font-family: sans-serif;
  padding: 40px 80px;
  font-size: 45px;
  letter-spacing: 2px;
  position: relative;
  transition: all 1s;
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  transition: all 1s;
  transform: rotateX(90deg);
  z-index: -1;
}

button:hover::before {
  transform: rotateX(0);
}

button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  transition: all 1s;
  transform: rotateY(90deg);
  z-index: -1;
}

button:hover::after {
  transform: rotateY(0);
}

button:hover {
  color: #fff;
}